<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
    <header th:fragment="header">
        <div class="header">
            <div class="header-content">
                <img th:src="@{/images/Spotify_Icon_RGB_White.png}" alt="Spotify Logo"/>
                <h1>Playlistify</h1>
            </div>
        </div>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Playlistify</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/audio-preview.js}"></script>
        <link rel="stylesheet" type="text/css" media="all" href="/css/main.css" th:href="@{/css/main.css}" />
    </header>
</body>
</html>