@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
}

.header {
    background-color: #121212;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
}

.header-content {
    display: flex;
    align-items: center;
    padding-bottom: 1%;
}

.header img {
    height: 3em;
    margin-top: 1%;
}

.header h1 {
    margin: 5px;
    display: inline;
    font-size: 2em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
}

.button {
    background-color: #1DB954;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #1ed760;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card1 {
    background-color: #282828;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    transition: transform 0.2s ease;
}

.card {
    background-color: #282828; /* Card background color */
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: calc(70% - 40px); /* Make the card 30% less wide */
    box-sizing: border-box;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: row; /* Align items in a row */
}

.card:hover {
    transform: translateY(-5px);
}

.album-cover {
    width: 140px; /* Reduce the size of the image */
    height: 140px; /* Make the image square */
    border-radius: 8px;
    margin-right: 20px;
}

.track-details {
    flex-grow: 1;
    text-align: left;
}

.track-info {
    margin-bottom: 10px;
}

.track-info h3 {
    margin: 0;
    font-size: 1.2em;
}

.track-info p {
    margin: 5px 0;
}

.track-info a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.track-info a:hover {
    text-decoration: underline;
}

.audio-controls {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.play-pause-button {
    background-color: #1DB954; /* Spotify green color */
    color: #FFFFFF;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%; /* Ensure the button is a circle */
    width: 40px;
    height: 40px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.play-pause-button:hover {
    background-color: #1ed760;
}

.progress-container {
    flex-grow: 1;
    background-color: #3b3b3b; /* Slightly darker than the card background */
    border-radius: 5px;
    height: 10px;
    position: relative;
    overflow: hidden;
}

.progress-bar {
    background-color: #1DB954; /* Spotify green color */
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

h1, h2, h3 {
    color: #FFFFFF;
}

p {
    color: #B3B3B3;
}

footer {
    background-color: #121212;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #B3B3B3;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.greeting-content {
    text-align: center;
    padding-top: 5%;
}

.auth {
    padding-top: 6%;
    justify-content: space-evenly;
    display: flex;
}

.auth-card {
    background-color: #282828;
    border-radius: 8px;
    display: block;
    padding-top: 1%;
    text-align: center;
    padding: 0;
    margin: 0;
    transition: none !important;
    width: 33%;
    padding: 3.1em;
}

.auth-card-alignment {
    width: 25%;
}

@media (max-width: 768px) {
            .container {
                padding: 10px;
            }

            .card {
                width: calc(100% - 20px); /* Adjust for smaller screens */
            }

            .album-cover {
                width: 60px; /* Adjust image size for smaller screens */
                height: 60px;
            }
        }

        @media (max-width: 480px) {
            .container {
                padding: 5px;
            }

            .login-button {
                padding: 8px 16px;
                font-size: 14px;
            }

            .card {
                flex-direction: column; /* Stack items vertically on small screens */
                align-items: center;
            }

            .album-cover {
                margin-bottom: 10px;
            }

            .track-info, .audio-controls {
                text-align: center;
            }
        }

